<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RahmatUX"
        tools:targetApi="31">

        <activity
            android:name=".MoneyDonationVirtualAccountDetail2Activity"
            android:exported="false" />
        <activity
            android:name=".MoneyDonationVirtualAccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MoneyDonationVirtualAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- LOGIN ACTIVITY AS LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UrgentActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateStoryActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PengantaranActivity"
            android:exported="false" />
        <activity
            android:name=".DonationHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".TopUpDetail2Activity"
            android:exported="false" />
        <activity
            android:name=".TopUpDetailActivity"
            android:exported="false" />
        <activity
            android:name=".InputBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCampaignActivity"
            android:exported="false" />
        <activity
            android:name=".MoneyDonationActivity"
            android:exported="false" />
        <activity
            android:name=".TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".DonationStoryActivity"
            android:exported="false" />
        <activity
            android:name=".DonatorListActivity"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".DonationDetailActivity"
            android:exported="false" />

        <!-- MAIN ACTIVITY - NO LONGER LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".AddEditItemActivity"
            android:exported="true" />
        <activity
            android:name=".GoodsDonationSummaryActivity"
            android:exported="true" />
        <activity
            android:name=".DeliveryDetailsActivity"
            android:exported="true" />
        <activity android:name=".MenungguPenyelesaianActivity" />
        <activity android:name=".StatusDonasiActivity" />
        <activity
            android:name=".DetailStatusDonasiBarangActivity"
            android:exported="true" />
        <activity
            android:name=".DetailStatusDonasiUangActivity"
            android:exported="true" />

    </application>

</manifest>
